﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PersonDetails.aspx.cs" Inherits="PersonDetails" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>PersonDetailsPhoneBook</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label runat="server" ID="PersonDetailsLabel"></asp:Label>
    </div>
    </form>
</body>
</html>
